.artSubHeader {
    display: flex;
    justify-content: center;
    margin: 50px auto 150px auto;
    width: fit-content;
    padding: 50px 400px 40px 400px;
    font-size: 36px;
    font-weight: normal;
}
.animated {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, white 0%, white 40%, black 65%, black 100%);
    color: transparent;
    background-size: 200% 200%;
    animation: movingGradient 10s linear infinite alternate-reverse;
    animation-iteration-count: 1;
}
.artwork {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 300px;
}
.artTitle {
    margin-bottom: 40px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, white 0%, rgb(135, 18, 178) 40%, white 60%, rgb(135, 18, 178) 100%);
    color: transparent;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
    font-size: 40px;
    font-weight: normal;
}
.date {
    margin-bottom: 200px;
}
.artInfo {
    text-align: center;
}
#selfPortrait {
    max-width: 850px;
    padding: 30px;
    border: 5px solid white;
    margin-top: 20px;
}
#spaceFace {
    max-width: 850px;
    padding: 30px;
    border: 5px solid white;
}
#cogito{
    max-width: 700px;
    padding: 30px;
    border: 5px solid white;
}
#hydrospace {
    max-width: 950px;
    padding: 30px;
    border: 5px solid white;
}
#astroFaceic {
    max-width: 700px;
    padding: 30px;
    border: 5px solid white;
}
#purpleRain {
    max-height: 800px;
    padding: 30px;
    border: 5px solid white;
}
#voidArt {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
}
#portrait {
    max-width: 750px;
    padding: 30px;
    border: 5px solid white;
}
#babaTequila {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
}
#one {
    max-height: 1000px;
    padding: 30px;
    border: 5px solid white;
}
#plur {
    max-width: 950px;
    padding: 30px;
    border: 5px solid white;
}
#boundless {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
}
#motion {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
}
#heads {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
}
#unicorn {
    max-height: 850px;
    padding: 30px;
    border: 5px solid white;
}
#artPSpace {
    margin-bottom: 40px;
}