#phoneArtDisplay {
    display: none;
}
#artPage {
    background: url('../images/Screenshot (26).png') repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 2vh;
    z-index: -1;
    
}
.artSubHeader {
    display: flex;
    justify-content: center;
    margin: 8vh auto 150px auto;
    width: fit-content;
    padding: 50px 5vw 40px 5vw;
    font-size: 36px;
    font-weight: normal;
}
.phoneArtSubHead {
    background-size: 300% 200% !important;
}
.animated {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, white 0%, white 30%, white 65%, white 100%);
    color: transparent;
    background-size: 300% 200%;
    animation: movingGradient 8s linear infinite alternate-reverse;
    animation-iteration-count: 1;
}
.artwork {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 300px;
}
.artTitle {
    margin-bottom: 40px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, white 0%, rgb(135, 18, 178) 40%, white 60%, rgb(135, 18, 178) 100%);
    color: transparent;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
    font-size: 40px;
    font-weight: normal;
}
.date {
    margin-bottom: 200px;
}
.artInfo {
    text-align: center;
}
#selfPortrait {
    max-width: 850px;
    padding: 30px;
    border: 5px solid white;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#spDelay {
    animation-delay: 1.5s;
    animation-fill-mode: both;
}
#spaceFace {
    max-width: 850px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#cogito{
    max-width: 700px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#hydrospace {
    max-width: 950px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#astroFaceic {
    max-width: 700px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#purpleRain {
    max-height: 800px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#voidArt {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#portrait {
    max-width: 750px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#babaTequila {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#one {
    max-height: 1000px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#plur {
    max-width: 950px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#boundless {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#motion {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#heads {
    max-width: 900px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#unicorn {
    max-height: 850px;
    padding: 30px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.555) !important;
    background-clip: padding-box;
}
#artPSpace {
    margin-bottom: 40px;
}


@media only screen and (max-width: 1400px) {
    #mainArtDisplay {
        display: none;
    }
    #phoneArtDisplay {
        display: block;
    }
    .artSubHeader {
        width: 88vw;
        padding: 0 0 10px 0;
        font-size: 30px;
        margin: 8.5vh auto 40px auto;
        text-align: center;
    }
    .animated {
        background-image: linear-gradient(to right, white 0%, white 40%, black 55%, black 100%);
        background-size: 200% 200%;
        animation: movingGradient 4s linear infinite alternate-reverse;
        animation-iteration-count: 1;
    }
    .artwork {
        flex-direction: column;
        width: 100vw;
        margin-bottom: 50px;
    }
    .artInfo {
        width: 88vw;
        font-size: 15px;
    }
    .artTitle {
        font-size: 24px;
        margin: 0 0 10px 0;
    }
    #selfPortrait {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
        margin-top: 20px;
    }
    #spaceFace {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #cogito{
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #hydrospace {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #astroFaceic {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #purpleRain {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #voidArt {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #portrait {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #babaTequila {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #one {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #plur {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #boundless {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #motion {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #heads {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #unicorn {
        max-width: 88vw;
        padding: 15px;
        border: 2px solid white;
    }
    #artPSpace {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .date {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .artSubHeader {
        margin-top: 3.5vh;
    }
}

@media only screen and (max-width: 900px) {
    .artSubHeader {
        font-size: 22px;
    }
    .artInfo {
        font-size: 13px;
    }
    .artTitle {
        font-size: 22px;
    }
}


@media only screen and (max-width: 600px) {
    .artSubHeader {
        width: 100vw;
    }
    #artPage {
        
        padding-top: 4vh;
    }
}


@media only screen and (max-width: 500px) {
    .artSubHeader {
        left: 0;
        right: 0;
        width: 260px;
    }
}