* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#stocktonU {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 2% 4% 4% 0%;
    border: solid 1.5px;
    border-image: linear-gradient(
      to top left, black 10%, white 50%, black 90%) 1;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
    padding: 0 20px 20px 20px;
}
#techE {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 10vh 0 3% 4%;
    border: solid 1.5px;
    border-image: linear-gradient(
      to top right, black 10%, white 50%, black 90%) 1;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
    padding: 0 20px 20px 20px;
}
#subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    padding-right: 25px;
}
#firstLine {
    margin-bottom: 12px;
}
#list {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 750px;
    flex-wrap: wrap;
    margin-top: 14px;
    margin-left: 25px;
    margin-bottom: 14px;
}
#stocktonContainer, #teContainer {
    display: flex;
    align-items: center;
}
#stocktonLogo {
    height: 46%;
    width: 46%;
    margin-left: 25%;
}
#teLogo {
    height: 46%;
    width: 46%;
    margin-left: 25%;
    margin-top: 7%;
}
#stocktonLogo:hover {
    border: solid 2px white;
    border-radius: 50%;
    margin-left: 24.5%;
}
#teLogo:hover {
    border: solid 2px white;
    border-radius: 50%;
    margin-left: 24.5%;
}
a {
    text-decoration: none;
}


@media only screen and (max-width: 1200px) {
    #teLogo, #stocktonLogo {
        display: none;
    }
    #techE, #stocktonU {
        width: 88vw;
        margin: 5px;
    }
    #teContainer, #stocktonContainer {
        font-size: 13px;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
    }
    #teContainer {
        margin-top: 20px;
    }
    #list {
        display: block;
        width: 88vw;
        overflow-y: scroll;
        white-space: pre;
        margin-top: 14px;
        margin-left: 15px;
        margin-bottom: 14px;
        border: solid 1px;
        border-image: linear-gradient(
        to right, black 0%, rgb(135, 18, 178) 30%, rgb(135, 18, 178) 50%, rgb(135, 18, 178) 70%, black 100%) 1;
        background-size: 200% 200%;
        animation: movingGradient 7.5s linear infinite alternate;
        padding: 0;
    }
}