#eduPage {
    background-repeat: repeat;
    background-size: cover !important;
    background: url('../images/b1.green.jpg');
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 8vh;
    padding-bottom: 2vh;
    z-index: -1;
}

#titleEdu {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, white 0%, rgb(122, 226, 141) 40%, white 60%, rgb(122, 226, 141) 100%);
    border-image: linear-gradient(to right, transparent 0%, rgb(122, 226, 141) 30%, rgb(122, 226, 141) 50%, rgb(122, 226, 141) 70%, transparent 100%) 1;
    padding-right: 5px;
}

li {
    color: rgb(179, 222, 187);
}

#stocktonU {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 2% 4% 4% 0%;
    border: solid 1.5px;
    border-image: linear-gradient(to top right, transparent 10%, white 40%, rgb(122, 226, 141) 50%, white 60%, transparent 90%) 1;
    background-size: 200% 200%;
    padding: 0 20px 20px 20px;
    background: -moz-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(1px);
}


#techE {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 10vh 0 3% 4%;
    border: solid 1.5px;
    border-image: linear-gradient(to top left, transparent 10%, white 40%, rgb(122, 226, 141) 50%, white 60%, transparent 90%) 1;
    background-size: 200% 200%;
    padding: 0 20px 20px 20px;
    background: -moz-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.602) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(1px);
}

#subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    padding-right: 25px;
}

#firstLine {
    margin-bottom: 12px;
}

#list {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 750px;
    flex-wrap: wrap;
    margin-top: 14px;
    margin-left: 25px;
    margin-bottom: 14px;
}

#stocktonContainer,
#teContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16.5px;
}

#stocktonLogo {
    height: 46%;
    width: 46%;
}

#teLogo {
    height: 46%;
    width: 46%;
    margin-top: 7%;
}

.eduImage {
    animation-delay: 1s !important;
    animation-fill-mode: both !important;
}

#stocktonLogo:hover {
    border: solid 2px white;
    border-radius: 50%;
    padding: 5px;
}

#teLogo:hover {
    border: solid 2px white;
    border-radius: 50%;
    padding: 5px;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 800px) {
    #eduPage {
        height: 100vh !important;
    }
}
@media only screen and (max-height: 1000px) {
    #eduPage {
        height: fit-content !important;
    }
}

@media only screen and (max-width: 1600px) {
    #stocktonU {
        margin-bottom: 0;
    }

    #eduPage {
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 1400px) {
    #eduPage {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 1200px) {
    #techE {
        margin-top: 8vh;
    }
    #list {
        height: 180px;
    }
}


@media only screen and (max-width: 1000px) {

    #teLogo,
    #stocktonLogo {
        display: none;
    }

    #titleEdu {
        font-size: 22px;
    }

    .dateEdu {
        font-size: 12px;
    }

    #techE,
    #stocktonU {
        width: 88vw;
        margin: 8vh 5px 5% 5px;
    }

    #teContainer,
    #stocktonContainer {
        font-size: 13px;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
    }

    #teContainer {
        margin-top: 20px;
    }

    #list {
        display: block;
        width: 80vw;
        overflow-y: scroll;
        white-space: pre;
        margin-top: 14px;
        margin-left: 15px;
        margin-bottom: 14px;
        border: solid 1px;
        border-image: linear-gradient(to right, transparent 0%, rgb(122, 226, 141) 30%, rgb(122, 226, 141) 50%, rgb(122, 226, 141) 70%, transparent 100%) 1;
        background-size: 200% 200%;
        animation: movingGradient 7.5s linear infinite alternate;
        padding: 0;
    }

    #list::-webkit-scrollbar {
        display: contents;
        background-color: transparent;
        width: 1px;
    }

    #list::-webkit-scrollbar-thumb {
        background-color: rgb(122, 226, 141);
        border-radius: 50%;
    }
}


@media only screen and (max-width: 600px) {
    #eduPage {
        background-size: cover !important;
        padding-top: 6vh;
    }

    #stocktonU {
        margin-bottom: 8vh;
    }
}