#flowPage {
    background: url('../images/Screenshot (26).png') repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 8vh;
    height: 92vh;
}
#flowTitle {
    margin-top: 6vh;
    margin-bottom: 0;
    padding-bottom: 50px;
    align-items: center;
    display: flex;
    justify-content: center;-webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to right, white 0%, rgb(135, 18, 178) 33%, white 66%, rgb(135, 18, 178) 100%);
    color: transparent;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
}
#flowDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 30px;
}
#propList {
    display: flex;
    flex-direction: column;
    height: 100px;
    flex-wrap: wrap;
    margin: 40px 0 40px 0;
    width: 650px;
}
#prop {
    margin-right: 50px;
}
#pSpace {
    margin-top: 50px;
}
#encourage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
    width: 80vw;
    text-align: center;
}
#flowWhy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    text-align: center;
}
#flowStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    text-align: center;
}
.purpText {
    color: rgb(219, 160, 240);
}
#instaFlow {
    color: rgb(192, 73, 236);
}
#instaFlow:hover {
    text-decoration: underline;
}
#closingFlow {
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, black 10%, rgb(197, 142, 217) 50%, black 90%) 1;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
    text-align: center;
    padding: 0 0 10px 0;
}

@media only screen and (max-width: 1200px) {
    #flowTitle {
        margin-top: 4vh;
    }
}


@media only screen and (max-width: 1000px) {
    #flowTitle {
        margin-top: 8vh;
        font-size: 22px;
        padding: 10px;
        margin: 20px 10px 10px 10px;
    }
    #flowStart, #flowWhy, #encourage {
        font-size: 13.5px;
        width: 88vw;
        color: white;
    }
    #flowWhy, #encourage {
        text-align: left;
    }
    .propForm {
        font-size: 13px;
    }
    #encourage {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #pSpace {
        margin-top: 20px;
    }
    #propList {
        display: block;
        width: 88vw;
        overflow-y: scroll;
        white-space: pre;
        margin-top: 14px;
        margin-left: 15px;
        margin-bottom: 14px;
        border: solid 1px;
        border-image: linear-gradient(
        to right, black 0%, rgb(135, 18, 178) 30%, rgb(135, 18, 178) 50%, rgb(135, 18, 178) 70%, black 100%) 1;
        background-size: 200% 200%;
        animation: movingGradient 7.5s linear infinite alternate;
    }
    #closingFlow {
        width: 88vw;
        text-align: center;
        font-size: 13.5px;
    }
    #flowDescription {
        margin-bottom: 10px;
    }
}