#smallHeader {
  display: none;
}
.Header {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1000000;
  padding: 0;
}
#container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 2px;
    border-image: linear-gradient(
      to right, rgb(135, 18, 178) 0%, rgb(191, 123, 215) 33%, transparent 50%, rgb(191, 123, 215) 66%, rgb(135, 18, 178) 100%) 1;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #name {
    display: flex;
    flex-direction: column;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to bottom, rgb(135, 18, 178) 0%, rgb(135, 18, 178) 25%, white 50%, rgb(135, 18, 178) 75%, rgb(135, 18, 178) 100%);
    color: transparent;
    background-size: 300% 300%;
    animation: movingGradient 8s linear infinite reverse;
    animation-delay:initial;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 110%;
    margin-right: 25px;
    margin-left: 25px;
  }
  #name:hover {
    background-image: linear-gradient(
      to bottom, grey 0%, grey 35%, white 50%, grey 65%, grey 100%);
    animation: movingGradient 2s linear infinite reverse;
  }
  #max, #smith {
    margin: 5px;
    padding: 0;
    font-weight: 400;
    letter-spacing: 4px;
  }
  #smith {
    letter-spacing: 8px;
  }
  #header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 550;
  }
  #headerNavigation {
    background-color: black;
  }
  #headerRight {
    display: flex;
    align-items: center;
    width: 60vw;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .animate-right {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to left, rgb(140, 73, 165) 0%, rgb(140, 73, 165) 35%, white 50%, rgb(140, 73, 165) 65%, rgb(140, 73, 165) 100%);
    color: transparent;
    background-size: 300% 300%;
    animation: movingGradient 5s linear infinite reverse;
  }
  .animate-right:hover {
    background-image: linear-gradient(
      to left, grey 0%, grey 30%, white 50%, grey 70%, grey 100%);
    animation: movingGradient 2s linear infinite reverse;
  }

  @media only screen and (max-width: 1200px) {
    #smallHeader {
      display: contents;
      position: absolute;
    }
    #mainHeader {
      display: none;
    }
    #max {
      letter-spacing: 5px;
    }
    #container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 10px 0;
      width: 100vw;
      position: relative;
    }
    .animate-left, .animate-right {
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
          to right, rgb(140, 73, 165) 0%, rgb(140, 73, 165) 35%, rgb(140, 106, 152) 50%, rgb(140, 73, 165) 65%, rgb(140, 73, 165) 100%);
        color: transparent;
        background-size: 300% 300%;
        animation: movingGradient 5s linear infinite reverse;
    }
    .animate-right:hover, .animate-left:hover {
      animation: movingGradient 4s linear infinite reverse;
    }
    .dropdown {
      display: inline-block;
      position: relative;
      right: 0;
      z-index: 999999999999999;
      border: none;
    }
    .dropdown-content {
      display: none;
      position: relative;
      width: 100%;
      overflow: auto;
      z-index: 1000000000000000;
    }
    .dropdown:focus-within .dropdown{
      display: block;
      position: relative;
      z-index: 1000000000000000;
    }
    .dropdown:focus-within #headerNavigation {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      z-index: 1000000000000000;
    }
    .dropdown:focus-visible .dropdown{
      display: block;
      position: relative;
      z-index: 1000000000000000;
    }
    .dropdown:focus-visible #headerNavigation {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      z-index: 1000000000000000;
    }
    .dropdown-content Link {
      display: block;
      color: #000000;
      padding: 5px;
      text-decoration: none;
    }
    #threeBar {
      background-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(
        to right, rgb(135, 18, 178) 0%, rgb(135, 18, 178) 25%, white 50%, rgb(135, 18, 178) 75%, rgb(135, 18, 178) 100%);
      color: transparent;
      background-size: 400% 400%;
      animation: movingGradient 3s linear infinite reverse;
      font-size: 30px;
      margin: 0 2vw 0 0;
      border: none;
      font-weight: 100;
    }
    #headerNavigation {
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
      padding-bottom: auto;
      line-height: 200%;
      background-color: rgba(0, 0, 0, 0.878);
      z-index: 1000000000000000;
      height: 100vh;

    }
    #header-nav {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: .1cm;
    }
    #name {
      font-size: 20px;
      margin: 0 0 0 2vw;
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly;
      background-image: linear-gradient(
      to right, rgb(135, 18, 178) 0%, rgb(135, 18, 178) 25%, white 50%, rgb(135, 18, 178) 75%, rgb(135, 18, 178) 100%);
      background-size: 300% 400%;
    }
    #name:hover {
      background-image: linear-gradient(
        to right, grey 0%, grey 35%, white 50%, grey 65%, grey 100%);
    }
    #max {
      margin-right: 10px;
    }
    #smith {
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 700px) {
    #header-nav {
      font-size: 22px;
    }
    #max {
      letter-spacing: 1px;
    }
    #name {
      font-size: 16px;
    }
    #threeBar {
      font-size: 24px;
    }
    #aboutMe {
      margin-top: 55vh !important;
    }
    .dropdown:hover .dropdown{
      display: block;
      position: relative;
      z-index: 1000000000000000;
    }
    .dropdown:hover #headerNavigation {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      z-index: 1000000000000000;
    }
  }