.Header {
  position: fixed;
  width: 100vw;
  background-color: black;
}
#container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 2px;
    border-image: linear-gradient(
      to right, #db4f4fcd 0%, #66b8dbc0 33%, black 50%, #66b8dbc0 66%, #db4f4fcd 100%) 1;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite alternate;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #name {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to bottom, #48b6e6c0 0%, #48b6e6c0 25%, #e36363cd 50%, #48b6e6c0 75%, #59bce7c0 100%);
    color: transparent;
    background-size: 300% 300%;
    animation: movingGradient 10s linear infinite reverse;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-right: 25px;
    margin-left: 25px;
  }
  #name:hover {
    background-image: linear-gradient(
      to bottom, grey 0%, grey 35%, white 50%, grey 65%, grey 100%);
  }
  #max, #smith {
    margin: 5px;
    padding: 0;
    font-weight: 400;
  }
  #header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: normal;
  }
  #headerRight, #headerLeft {
    display: flex;
    align-items: center;
    width: 35vw;
    justify-content: space-between;
  }
  .animate-left {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to right, #48b6e6c0 0%, #48b6e6c0 30%, #e36363cd 50%, #48b6e6c0 70%, #48b6e6c0 100%);
    color: transparent;
    background-size: 300% 300%;
    animation: movingGradient 7.5s linear infinite reverse;
  }
  .animate-right {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to right, #48b6e6c0 0%, #48b6e6c0 30%, #e36363cd 50%, #48b6e6c0 70%, #48b6e6c0 100%);
    color: transparent;
    background-size: 300% 300%;
    animation: movingGradient 7.5s linear infinite;
  }
  .animate-left:hover {
    background-image: linear-gradient(
      to right, grey 0%, grey 30%, white 50%, grey 70%, grey 100%);
  }
  .animate-right:hover {
    background-image: linear-gradient(
      to right, grey 0%, grey 30%, white 50%, grey 70%, grey 100%);
  }

  @media only screen and (max-width: 900px) {
    #container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 10px 0;
      width: 100vw;
    }
    #header-nav {
      font-size: 18px;
      width: 100vw;
    }
    #name {
      font-size: 20px;
      margin: 0;
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly;
    }
    #max {
      margin-right: 10px;
    }
    #smith {
      padding-left: 10px;
    }
    #headerRight, #headerLeft {
      width: 100vw;
    }
  }