#projectsPage {
  /* background-image: url('../images/Screenshot (26).png'); */
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 2vh;
  z-index: -1;
}

#websiteContainer,
#potholeContainer,
#tenmoContainer,
#vendingContainer,
#leetContainer {
  display: flex;
  align-items: center;
  font-size: 16.5px;
}

#websiteContainer {
  justify-content: center;
}

#website {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 4% 0 2% 0;
  border: solid 1.5px;
  border-image: linear-gradient(to right, transparent 0%, white 50%, transparent 100%) 1;
  background-size: 200% 200%;
  animation: movingGradient 7.5s linear infinite alternate;
  padding: 0 20px 20px 20px;
  align-items: center;
  height: fit-content;
}

#websiteDesc {
  width: 60vw;
}

#pothole,
#vending {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin: 2% 4% 2% 0%;
  border: solid 1.5px;
  border-image: linear-gradient(to top right, transparent 10%, white 50%, transparent 90%) 1;
  background-size: 200% 200%;
  animation: movingGradient 7.5s linear infinite alternate;
  padding: 0 20px 20px 20px;
}



/* Change this selector for whichever project is at the bottom of the page! */
#leet {
  margin-bottom: 4%;
}



#skills {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(201, 111, 234);
}

#tenmo,
#leet {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin: 2% 0 2% 4%;
  border: solid 1.5px;
  border-image: linear-gradient(to top left, transparent 10%, white 50%, transparent 90%) 1;
  background-size: 200% 200%;
  animation: movingGradient 7.5s linear infinite alternate;
  padding: 0 20px 20px 20px;
}

#title,
#title-website {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, white 0%, rgb(135, 18, 178) 40%, white 60%, rgb(135, 18, 178) 100%);
  color: transparent;
  background-size: 200% 200%;
  animation: movingGradient 7.5s linear infinite alternate;
}

#title:hover {
  background-image: linear-gradient(to right, white 0%, grey 40%, white 60%, grey 100%);
}

#PTLogo {
  height: 46%;
  width: 46%;
}

#PTLogo:hover {
  border: solid 2px white;
  border-radius: 50%;
  padding: 5px;
}

#GHLogo:hover {
  border: solid 2px white;
  border-radius: 50%;
  padding: 5px;
}

#GHLogoVM:hover {
  border: solid 2px white;
  border-radius: 50%;
  padding: 5px;
}

#GHLogo {
  height: 45%;
  width: 45%;
}

#GHLogoVM {
  height: 45%;
  width: 45%;
}

#website,
#tenmo,
#vending,
#pothole,
#leet {
  background: linear-gradient(0.25turn, #00000000, #00000095, #00000095, #00000095, #00000000);
}


@media only screen and (max-width: 1400px) {
  #projectsPage {
    width: 100vw;
  }

  #website,
  #pothole,
  #tenmo,
  #vending,
  #leet {
    width: 88vw;
    margin: 2% 0 4% 0;
  }

  #website {
    padding-bottom: 0;
  }

  #websiteContainer,
  #potholeContainer,
  #tenmoContainer,
  #vendingContainer,
  #leetContainer {
    width: 100vw;
    font-size: 15px;
    justify-content: center;
    flex-direction: column;
  }

  #websiteContainer {
    margin-top: 20px;
  }

  #title-website,
  #title {
    font-size: 26px;
  }

  #completedUsing {
    text-align: center;
    padding-top: 5px;
    font-size: 13.5px;
  }

  #PTLogo,
  #GHLogo,
  #GHLogoVM {
    display: none;
  }

  #skills {
    display: block;
    width: 88vw;
    overflow-x: scroll;
    white-space: pre;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 13.5px;
  }
  .longSkills::-webkit-scrollbar {
    display: contents;
    background-color: transparent;
    height: 1px;
  }
  .longSkills::-webkit-scrollbar-thumb {
    background-color: rgb(135, 18, 178);
    border-radius: 50%;
  }

  .projectDate {
    font-size: 12px;
  }

  #websiteDesc {
    width: 75vw;
  }
}

@media only screen and (max-width: 1000px) {

  #websiteContainer,
  #potholeContainer,
  #tenmoContainer,
  #vendingContainer,
  #leetContainer {
    font-size: 13px;
  }
  #skills {

    font-size: 12px;
  }

  #title-website,
  #title {
    font-size: 22px;
  }
  #completedUsing {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  #projectsPage {
    padding-top: 4vh;
  }

  #websiteDesc {
    width: 86vw;
  }
}